@using WebMatrix.WebData

@* Supprimez cette section si vous utilisez le regroupement. *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    WebSecurity.RequireAuthenticatedUser();

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Gérer le compte";

    var action = Request.Form["action"];

    bool hasLocalAccount = OAuthWebSecurity.HasLocalAccount(WebSecurity.CurrentUserId);

    string successMessage = "";
    var message = Request.QueryString["message"];
    if (message == "ChangedPassword") {
        successMessage = "Votre mot de passe a été modifié.";
    } else if (message == "SetPassword") {
        successMessage = "Votre mot de passe a été défini.";
    } else if (message == "RemovedLogin") {
        successMessage = "La connexion externe a été supprimée.";
    }

    var externalLogins =
        (from account in OAuthWebSecurity.GetAccountsFromUserName(WebSecurity.CurrentUserName)
         let clientData = OAuthWebSecurity.GetOAuthClientData(account.Provider)
         select new { Provider = account.Provider, ProviderDisplayName = clientData.DisplayName, UserId = account.ProviderUserId })
        .ToList();
    bool canRemoveLogin = externalLogins.Count > 1 || hasLocalAccount;

    // Validation d’installation
    if (hasLocalAccount) {
        Validation.RequireField("currentPassword", "Le champ Mot de passe actuel est obligatoire.");
        Validation.Add("currentPassword",
            Validator.StringLength(
                maxLength: Int32.MaxValue,
                minLength: 6,
                errorMessage: "Le mot de passe actuel doit contenir au moins 6 caractères."));
    }
    Validation.RequireField("newPassword", "Le champ Mot de passe actuel est obligatoire.");
    Validation.Add("confirmPassword",
        Validator.Required("Le champ Confirmation de mot de passe est obligatoire."),
        Validator.EqualsTo("newPassword", "Le nouveau mot de passe et le mot de passe de confirmation ne correspondent pas."));
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Le nouveau mot de passe doit contenir au moins 6 caractères."));

    if (IsPost) {
        AntiForgery.Validate();
        if (action == "password") {
            // Gérer les opérations de mot de passe de compte local
            var currentPassword = Request.Form["currentPassword"];
            var newPassword = Request.Form["newPassword"];
            var confirmPassword = Request.Form["confirmPassword"];

            if (Validation.IsValid()) {
                if (hasLocalAccount) {
                    if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword)) {
                        Response.Redirect("~/Account/Manage?message=ChangedPassword");
                        return;
                    } else {
                        ModelState.AddFormError("Une erreur s’est produite lors de la tentative de changement du mot de passe. Contactez le propriétaire du site.");
                    }
                } else {
                    bool requireEmailConfirmation = !WebMail.SmtpServer.IsEmpty();
                    try {
                        WebSecurity.CreateAccount(WebSecurity.CurrentUserName, newPassword, requireEmailConfirmation);
                        Response.Redirect("~/Account/Manage?message=SetPassword");
                        return;
                    } catch (System.Web.Security.MembershipCreateUserException e) {
                        ModelState.AddFormError(e.Message);
                    }
                }
            } else {
                ModelState.AddFormError("La modification du mot de passe a échoué. Corrigez les erreurs puis réessayez.");
            }
        } else if (action == "removeLogin") {
            // Supprimer la connexion externe
            var provider = Request.Form["provider"];
            var userId = Request.Form["userId"];

            message = null;
            var ownerAccount = OAuthWebSecurity.GetUserName(provider, userId);
            // Supprimer la connexion externe uniquement si elle appartient à l’utilisateur actuellement connecté et si elle ne correspond pas aux dernières informations d’identification de connexion de l’utilisateur
            if (ownerAccount == WebSecurity.CurrentUserName && canRemoveLogin) {
                OAuthWebSecurity.DeleteAccount(provider, userId);
                message = "RemovedLogin";
            }
            Response.Redirect(Href("~/Account/Manage", new { message }));
            return;
        } else {
            // Supposez que cette demande est une demande de connexion externe.
            string provider = Request.Form["provider"];
            if (!provider.IsEmpty()) {
                OAuthWebSecurity.RequestAuthentication(provider, Href("~/Account/RegisterService", new { returnUrl = Href("~/Account/Manage") }));
                return;
            }
        }
    }
}
<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

@if (!successMessage.IsEmpty()) {
    <p class="message-success">
        @successMessage
    </p>
}

<p>Vous êtes connecté en tant que <strong>@WebSecurity.CurrentUserName</strong>.</p>

@if (hasLocalAccount) {
    <h3>Modifier le mot de passe</h3>
} else {
    <p>
        Vous ne disposez pas d’un mot de passe local pour ce site. Ajoutez un mot de passe local afin de pouvoir vous connecter sans connexion externe.
    </p>
}

<form method="post">
    @AntiForgery.GetHtml()
    @Html.ValidationSummary(excludeFieldErrors: true)

    <fieldset>
        <legend>
        @if (hasLocalAccount) {
            <text>Formulaire de modification du mot de passe</text>
        } else {
            <text>Formulaire de définition du mot de passe</text>
        }
        </legend>
        <ol>
            @if (hasLocalAccount) {
                <li class="current-password">
                    <label for="currentPassword" @if (!ModelState.IsValidField("currentPassword")) {<text>class="error-label"</text>}>Mot de passe actuel</label>
                    <input type="password" id="currentPassword" name="currentPassword" @Validation.For("currentPassword")/>
                    @Html.ValidationMessage("currentPassword")
                </li>
            }
            <li class="new-password">
                <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>Nouveau mot de passe</label>
                <input type="password" id="newPassword" name="newPassword" @Validation.For("newPassword")/>
                @Html.ValidationMessage("newPassword")
            </li>
            <li class="confirm-password">
                <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Confirmer le nouveau mot de passe</label>
                <input type="password" id="confirmPassword" name="confirmPassword" @Validation.For("confirmPassword")/>
                @Html.ValidationMessage("confirmPassword")
            </li>
        </ol>
        @if (hasLocalAccount) {
            <button type="submit" name="action" value="password">Modifier le mot de passe</button>
            <p>
                Cliquez sur <a href="~/Account/ForgotPassword" title="Page d’oubli du mot de passe">ici</a> si vous avez oublié votre mot de passe.
            </p>
        } else {
            <button type="submit" name="action" value="password">Définir le mot de passe</button>
        }
    </fieldset>
</form>

<section id="externalLogins">
    @if (externalLogins.Count > 0) {
        <h3>Connexions externes enregistrées</h3>
        <table>
            <tbody>
            @foreach (var externalLogin in externalLogins) {
                <tr>
                    <td>@externalLogin.ProviderDisplayName</td>
                    <td>
                        @if (canRemoveLogin) {
                            <form method="post">
                                @AntiForgery.GetHtml()
                                <fieldset>
                                    <legend></legend>
                                    <input type="hidden" name="provider" value="@externalLogin.Provider" />
                                    <input type="hidden" name="userId" value="@externalLogin.UserId" />
                                    <button type="submit" name="action" value="removeLogin" title="Supprimez ces informations d’identification @externalLogin.ProviderDisplayName de votre compte">Supprimer</button>
                                </fieldset>
                            </form>
                        } else {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    <h3>Ajouter une connexion externe</h3>
    @RenderPage("~/Account/_ExternalLoginsList.cshtml")
</section>
